.gradient-custom-2 {
    /* Fallback para navegadores antiguos */
    background: #d8b4f1; /* Morado pastel como respaldo */

    /* Gradiente para Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #b145d4, #d764e2, #f28ac8, #c16ad6);

    /* Gradiente para W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #b145d4, #d764e2, #f28ac8, #c16ad6);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important; /* Altura completa de la ventana para pantallas grandes */
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem; /* Bordes redondeados */
        border-bottom-right-radius: .3rem;
    }
}
